<body>
    <div class="content">
        <div class="container">
            <div class="px-4 py-5 my-5 text-center">
                <img src="/images/activity.png" style="height:10%;width:10%;margin:2em;">
                <p class="lead mb-4">Click any activity to learn their availabilities and more information about it.</p>
                <p class="lead mb-4">Can't find your activity? <a href="/activity">Create a new one</a>.</p>
                <h2>Upcoming Activities</h2>
                <p>Sorted by earliest start date</p>

                {{#if activities}}
                {{#each activities}}
                    <div class="activitiesContainer" style="border-style:solid;">
                        <div class="col-lg-6 mx-auto" style="margin-bottom: 2em;">
                            <h4 class="activityInfo" style="margin-top:2em"><img src="/images/edit-info.png" style="height:5%;width:5%;margin-right:0.5em;">{{this.name}}</h4>
                            <h4 class="activityInfo"><img src="/images/clock.png" style="height:5%;width:5%;margin-right:0.5em">{{this.date}}</h4>
                            <h4 class="activityInfo" style="margin-bottom:0.5em"><img src="/images/user.png" style="height:5%;width:5%;margin-right:0.5em">Host: {{this.host}}</h4>
                            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                <a role="button" class="btn btn-primary btn-lg px-4 gap-3" href="/activity/{{this.id}}">Learn More</a>
                            </div>
                        </div>
                    </div>
                {{/each}}
                {{else}}
                    <br><br><p>No activities found.</p>
                {{/if}}
            </div>
        </div>
    </div>
    <style>
        h2 {
            margin-bottom: 1rem;
        }

        .activityInfo {
            text-align: left;
        }
        .activitiesContainer {
            border: 2px;
            border-radius:0.5em;
            border-color:rgb(185, 185, 185);
            margin-top: 1em;
        }
    </style>
</body> 